{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">
    <h1 class="text-center" style="color:black;">WIX-GALLERY</h1><br>
  
    <!-- Looping through pix   -->
    {% for image in images %}

    <div class="row" style="background-color:blueviolet;">
      <!-- displaying pix articles -->
      <div class="col-md-4">
        <h2 class="" > <strong>Name: </strong> {{ image.name }} </h2>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;" > <strong> Description:</strong> {{ image.description }} </p>
        <p style="font-family: 'Charmonman', cursive;font-size: 20px;" > <strong> Location:</strong> {{ image.location }} </p>
      </div>
  
      <div class="col-md-8">
        <img src="{{image.image_url.url}}" class="img-responsive image" alt="Image" width="200px" height="300px">
        <div id="buttons" style="margin-left:2%;">
          <a href="{{image.image_url.url}}" class="btn btn-default btn-dark">Copy Image link  &nbsp<i class="glyphicon glyphicon-paperclip"></i>
      </a></div>
      </div>
    </div>
  
    <br>
    <hr>
    <br>
    {% empty %}
    <div class="row">
      <h2 class="text-center">No uploaded images..</h2>
    </div>
    {% endfor %}
  </div>
{% endblock %}